.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url('triangle.png');
  background-size: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  margin-top: 9px;
}

.slider::-moz-range-thumb {
  background: url('triangle.png');
  width: 20px;
  height: 20px;
  border: 0;
  background-size: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  margin-top: 9px;
}
