.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url('thumb.svg');
  background-size: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  /* margin-top: 9px; */
}

.slider::-moz-range-thumb {
  background: url('thumb.svg');
  width: 20px;
  height: 20px;
  border: 0;
  background-size: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  margin-top: 9px;
}

#questionbuttons button:first-child {
  margin-left: 0 !important;
}
#QA {
  margin: 20px, 0 !important;
  padding: 20px 0;
  max-width: 960px;
}
